.clearfix {
  clear: both;
}
.editor {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 50px;
  border: 1px solid black;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: text;
}
.editor .char {
  float: left;
  margin: 0;
  padding: 0;
  display: inline-block;
  height: 50px;
  width: 30px;
  font-family: monospace;
  font-size: 40px;
  text-align: center;
  border-left: 2px solid #eee;
  color: black;
  background: white;
}
.editor .linebreak.char {
  color: #ccc;
}
.editor .selected.char {
  color: white;
  background: black;
}
.editor .cursor.char.blink {
  border-left: 2px solid red;
}
.menu {
  font-family: sans-serif;
  font-size: 13px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 10px 30px 0 rgba(0,0,0,0.1), 0 2px 6px 0 rgba(0,0,0,0.2);
}
.menu li:first-child a {
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
}
.menu li:last-child a {
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
}